<IfModule mod_rewrite.c>
    RewriteEngine On
    # Prevent infinite redirection loop by checking if the request is not already in the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
